/* styling for the dash */

.dash {
    background-color: #2b2b2b;
    display: flex;
}

.movies-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

